@page "/bloquearfechasmedico"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.EntityFrameworkCore
@using Serilog
@inject DialogService DialogService
@inject NotificationService NotificationService

<PageTitle>Bloquear fechas</PageTitle>

<h2 style="text-align: center; margin-top: 1rem; margin-bottom: 1rem;">Bloquear fechas</h2>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5rem" class="rz-p-sm-12">
    <RadzenLabel Text="Seleccionar médico" Component="DropDownBindValue" />
    <RadzenDropDown @bind-Value="medicoSeleccionado" Placeholder="Seleccionar" Data="@listaMedicos" Style="width: 30%;" Change="@OnMedicoSeleccionado" TextProperty="NombreMedico" ValueProperty="NombreMedico" Name="Medico">
        <RadzenRequiredValidator Component="Medico" Text="Debes seleccionar un médico" />
    </RadzenDropDown>    
</RadzenStack>


<RadzenScheduler  @ref=@calendario SlotRender=@OnSlotRender style="height: 768px;" TItem="MedicoFechaBloqueada" Data=@bloqueadas StartProperty="FechaBloqueada" EndProperty="FechaBloqueada" ShowHeader=true
TextProperty="Motivo" SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender>
    <RadzenMonthView />
</RadzenScheduler>

<br />


@code
{

    string medicoSeleccionado = "";
    List<Medico> listaMedicos = Medico.ObtenerMedicos();

    RadzenScheduler<MedicoFechaBloqueada> calendario;


    IList<MedicoFechaBloqueada> bloqueadas = new List<MedicoFechaBloqueada>{};

    DateTime fechaABloquarDesde;
    DateTime fechaABloquarHasta;
    string motivoABloquear;
    List<string> horariosABloquear = new List<string>();
    bool bloqueoParcial = false;
    string horaInicialBloqueo = "00:00";
    string horaFinalBloqueo =  "23:59";


    void RecargarCalendario()
    {
        string query2 = "SELECT * FROM `medicos_fechas_bloqueadas` WHERE `nombreMedico`= @nombreMedico ;";
        var parametros2 = new Dictionary<string, object> { { "@nombreMedico", medicoSeleccionado } };
        bloqueadas = Base.SelectAMedicosFechasBloqueadas(query2,parametros2);
    }

    private void OnMedicoSeleccionado(object value)
    {
        RecargarCalendario();
    }



    // Pinta el dia de hoy en el calendario mensual.
    void OnSlotRender(SchedulerSlotRenderEventArgs args)
    {

        if (args.View.Text == "Month" && args.Start.Date == DateTime.Today)
        {
            args.Attributes["style"] = "background: var(--rz-scheduler-highlight-background-color, rgba(255,220,40,.2));";
        }

    }


    //Este crea el dialogo cuando apreto en una fecha vacia
    async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        fechaABloquarDesde = args.Start;
        fechaABloquarHasta = args.Start;
        motivoABloquear = "";
        bloqueoParcial = false;
        horaInicialBloqueo = "00:00";
        horaFinalBloqueo = "23:59";



        DateTime inicio = DateTime.ParseExact(horaInicialBloqueo, "HH:mm", null);
        DateTime fin = DateTime.ParseExact(horaFinalBloqueo, "HH:mm", null);


        horariosABloquear.Clear();
        horariosABloquear.AddRange(
        Enumerable.Range(0, (int)((fin - inicio).TotalMinutes / 10))
            .Select(i => inicio.AddMinutes(i * 10).ToString("HH:mm"))
    );

        if (args.View.Text != "Year" && medicoSeleccionado!="")
        {
            var result = await DialogService.OpenAsync("Bloquear fecha", ds =>
            @<RadzenStack Gap="1.5rem" Style="padding: 1.5rem; border-radius: 12px; background-color: #f9f9f9;">
                <p style="margin: 0; font-size: 1rem;">Estas bloqueando las fechas para: <b>@medicoSeleccionado</b></p>

                <RadzenStack Orientation="Orientation.Vertical" Gap="0.75rem">

                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap"
                                 Style="gap: 0.75rem;">
                        <RadzenLabel Text="Motivo" Style="width: 4rem;" />
                        <RadzenTextBox @bind-Value="@motivoABloquear" Name="Motivo" Style="width: 12rem; border-radius: 8px;" />
                        <RadzenRequiredValidator Component="motivoABloquear" Text="El motivo es necesario" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap"
                                 Style="gap: 0.75rem;">
                        <RadzenLabel Text="Desde" Style="width: 4rem;" />
                        <RadzenDatePicker @bind-Value="@fechaABloquarDesde" Name="Desde" Disabled=@bloqueoParcial
                                          DateFormat="d/M/yyyy" ShowTime="false"
                                          Style="width: 12rem; border-radius: 8px;" />
                        <RadzenRequiredValidator Component="Desde" Text="Especifica una fecha" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap"
                                 Style="gap: 0.75rem;">
                        <RadzenLabel Text="Hasta" Style="width: 4rem;" />
                        <RadzenDatePicker Name="Hasta" @bind-Value="@fechaABloquarHasta" Disabled=@bloqueoParcial
                                          DateFormat="d/M/yyyy" ShowTime="false"
                                          Style="width: 12rem; border-radius: 8px;" />
                        <RadzenRequiredValidator Component="Hasta" Text="Especifica una fecha" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap"
                                 Style="gap: 0.75rem;">
                        <RadzenLabel Text="Bloqueo por horas" Style="width: 8rem;" />
                        <RadzenButton Text="Configurar horas" Style="font-size: 12px; padding: 6px 12px;" Click=@MostrarHorariosBloqueo />
                    </RadzenStack>

                    @if(horaInicialBloqueo!="00:00")
                {
                    <RadzenTextBox @bind-Value="@horaInicialBloqueo" Disabled=true Name="Motivo"
                                   Style="width: 12rem; border-radius: 8px;" />
                }

                    @if(horaFinalBloqueo!="23:59")
                {
                    <RadzenTextBox @bind-Value="@horaFinalBloqueo" Disabled=true Name="Motivo"
                                   Style="width: 12rem; border-radius: 8px;" />
                }

                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End"
                                 Style="margin-top: 1rem; gap: 0.75rem;">
                        <RadzenButton Text="Confirmar" Click=InsertarFechasABase Style="padding: 6px 16px;" />
                        <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light"
                                      Style="padding: 6px 16px;" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
    );

            await calendario.Reload();
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Atención", Detail = "Elige un médico primero" });
        }
    }

    void InsertarFechasABase()
    {
        if (!string.IsNullOrWhiteSpace(motivoABloquear) && fechaABloquarHasta != DateTime.MinValue )
        {
            List<MedicoFechaBloqueada> fechasABloquear = new List<MedicoFechaBloqueada>();

            if(bloqueoParcial)
            {                
                fechasABloquear.Add(new MedicoFechaBloqueada
                        {
                            NombreMedico = medicoSeleccionado,
                            FechaBloqueada = fechaABloquarDesde,
                            Motivo = motivoABloquear,
                            TodoElDia = false,
                            HoraInicioBloqueo = horaInicialBloqueo,
                            HoraFinBloqueo = horaFinalBloqueo
                        });
            }
            else
            {
                //Por cada dia entre Desde y Hasta, voy a crear un nuevo elemento y agregarlo a la lista.
                for (DateTime fecha = fechaABloquarDesde; fecha <= fechaABloquarHasta; fecha = fecha.AddDays(1))
                {
                    fechasABloquear.Add(new MedicoFechaBloqueada
                        {
                            NombreMedico = medicoSeleccionado,
                            FechaBloqueada = fecha,
                            Motivo = motivoABloquear,
                            TodoElDia = true
                        });
                }

            }



            List<Turno> turnosCancelados = new List<Turno> { };
            foreach (var item in fechasABloquear)
            {
                //Inserto las fechas bloqueadas en la base
                string query = "INSERT INTO `medicos_fechas_bloqueadas`"+
                "(`nombreMedico`,`fechaBloqueada`,`motivo`,`todoElDia`,`horaInicioBloqueo`,`horaFinBloqueo`) VALUES " +
                                "(@nombreMedico, @fechaBloqueada, @motivo, @todoeldia, @horainicio, @horafin);";


                var parametros = new Dictionary<string, object>
                {
                { "@nombreMedico", item.NombreMedico },
                { "@fechaBloqueada", item.FechaBloqueada.ToString("yyyy-MM-dd") },
                { "@motivo", item.Motivo },
                { "@todoeldia", item.TodoElDia },
                { "@horainicio", item.HoraInicioBloqueo },
                { "@horafin", item.HoraFinBloqueo }
                };

                int intentoBloqueoFechas = Base.InsertDeleteOrUpdateABase(query,parametros);

                //Pregunto si hay turnos en ese dia
                string query2 = "SELECT * FROM `turnos` WHERE medico = @medico AND fechaTurno=@fechaTurno";

                if (bloqueoParcial && !string.IsNullOrEmpty(horaInicialBloqueo) && !string.IsNullOrEmpty(horaFinalBloqueo))
                {
                    query2 = query2 + $" AND horaTurno BETWEEN '{horaInicialBloqueo}' AND '{horaFinalBloqueo}';";
                }
                var parametros2 = new Dictionary<string, object>
                            {
                                { "@medico", medicoSeleccionado },
                                { "@fechaTurno", item.FechaBloqueada.ToString("yyyy-MM-dd") }
                            };

                List<Turno> turnosACancelar = Base.SelectATurnos(query2,parametros2);

                //Si hay turnos, aviso a cada uno por email que se canceló.
                foreach (Turno turno in turnosACancelar)
                {
                    if(!string.IsNullOrEmpty(turno.Email))
                    {
                        try
                        {
                            EmailService nuevoEmail = new EmailService();
                            string cuerpoEmail = "<b>Estimado/a:</b><br><br>Su turno con <b>" + turno.Medico + "</b> el dia: <b>" + turno.FechaTurno?.ToString("yyyy-MM-dd") + "</b> a las: <b>" + turno.HoraTurno + "</b> ha sido cancelado.<br><br>Por favor, comuníquese con el consultorio para reprogramarlo.<br><br>Muchas gracias.<br><br>Consultorio Médico.";

                            nuevoEmail.EnviarCorreoAsync(turno.Email, "Consultorio Médico - Importante - Su turno ha sido cancelado", cuerpoEmail);                            
                        }
                        catch(Exception ex)
                        {
                            Log.Error(ex, "Ocurrio un error al enviar el email de bloqueo de fechas.");
                        }
                        
                    }
                    // Envío el mensaje por WhatsApp
                    if (!string.IsNullOrEmpty(turno.Telefono))
                    {
                        try
                        {
                            WhatsAppService whatsappService = new WhatsAppService();
                            string mensajeWhatsapp = $"*Cancelación de turno*\n\n" +
                            $"*Paciente:* {turno.NombrePaciente} {turno.ApellidoPaciente}\n" +
                            $"*Médico:* {turno.Medico}\n" +
                            $"*Fecha:* {turno.FechaTurno?.ToString("dd/MM/yyyy")}\n" +
                            $"*Hora:* {turno.HoraTurno} hs\n\n" +
                            "Su turno ha sido *cancelado*.\n" +
                            "Por favor, comuníquese con el consultorio para reprogramarlo.\n\n" +
                            "Muchas gracias.\n" +
                            "Consultorio médico.";

                            // Asumimos que tenés una clase para enviar mensajes por WhatsApp
                            whatsappService.EnviarMensajeWhatsApp(turno.Telefono, mensajeWhatsapp);
                            Log.Information("Mensaje de cancelación enviado por WhatsApp");
                        }
                        catch (Exception ex)
                        {
                            Log.Error(ex, "Ocurrió un error al enviar el mensaje por WhatsApp");
                        }
                    }

                    //Actualizo el estado del turno en la base.
                    string query3 = "UPDATE turnos SET cancelado=true, motivoCancelacion='Cancelado automáticamente por bloqueo de fechas'"+
                                    "WHERE medico=@medico AND fechaTurno=@fechaTurno";
    
                    if (bloqueoParcial && !string.IsNullOrEmpty(horaInicialBloqueo) && !string.IsNullOrEmpty(horaFinalBloqueo))
                    {
                        query3 = query3 + $" AND horaTurno BETWEEN '{horaInicialBloqueo}' AND '{horaFinalBloqueo}';";
                    }


                    var parametros3 = new Dictionary<string, object>
                    {
                        { "@medico", turno.Medico },
                        { "@fechaTurno", turno.FechaTurno?.ToString("yyyy-MM-dd") }
                    };
                    int actualizoEstado = Base.InsertDeleteOrUpdateABase(query3, parametros3);

                    turnosCancelados.Add(turno);                    
                }
            }
            DialogService.Close();

            if(turnosCancelados.Count()>0)
            {
                MostrarTurnosCancelados(turnosCancelados);
            }


            RecargarCalendario();

        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Atención", Detail = "Debes completar todos los campos" });
        }



    }


    async Task MostrarTurnosCancelados(List<Turno> turnos)
    {
        var result = await DialogService.OpenAsync("Bloqueo establecido.", ds =>
        @<RadzenStack Gap="1.5rem">
        <p>Se han cancelado los siguientes turnos:</p>
        <RadzenStack Gap="0.5rem">
            @foreach (var turno in turnos)
        {
            <p><b>@turno.NombrePaciente @turno.ApellidoPaciente</b> - @turno.FechaTurno?.ToString("dd/MM/yyyy") - @turno.HoraTurno hs.</p>
        }
        </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>

            </RadzenStack>
        </RadzenStack>
    );
    }

    async Task MostrarHorariosBloqueo()
    {
        var result = await DialogService.OpenAsync("Seleccionar horarios.", ds =>
        @<RadzenStack Gap="1.5rem" Style="padding: 1.5rem; border-radius: 12px; background-color: #f9f9f9;">

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem"
                            Style="flex-wrap: wrap;">
                <RadzenLabel Text="Hora inicial de bloqueo" Style="font-size: 16px; min-width: 180px;" />
                <RadzenDropDown @bind-Value=@horaInicialBloqueo
                                Data=@horariosABloquear
                                Style="width: 100%; max-width: 200px; border-radius: 8px;"
                                Name="DropDownBindValue"
                                Placeholder="Seleccione un horario" />
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem"
                            Style="flex-wrap: wrap;">
                <RadzenLabel Text="Hora final de bloqueo" Style="font-size: 16px; min-width: 180px;" />
                <RadzenDropDown @bind-Value=@horaFinalBloqueo
                                Data=@horariosABloquear
                                Style="width: 100%; max-width: 200px; border-radius: 8px;"
                                Name="DropDownBindValue"
                                Placeholder="Seleccione un horario" />
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="1rem"
                            Style="margin-top: 1rem;">
                <RadzenButton Text="Guardar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Primary"
                                Style="padding: 6px 16px;" />
                <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light"
                                Style="padding: 6px 16px;" />
            </RadzenStack>

        </RadzenStack>);

        bloqueoParcial = true;
        fechaABloquarHasta = fechaABloquarDesde;

        
    }


    //Este es para editar una fecha ya bloqueada
    async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<MedicoFechaBloqueada> args)
    {


        var result = await DialogService.OpenAsync("Eliminar bloqueo", ds =>
        @<RadzenStack Gap="1.5rem">
            <p>¿Deseas eliminar el bloqueo de fechas de <b>@medicoSeleccionado</b>?</p>
            <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                    <RadzenLabel Text="Motivo" Style="width: 4rem;" />
                <RadzenTextBox @bind-Value="@args.Data.Motivo" Disabled="true" Name="Motivo" Style="width: 12rem;" />                   
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                    <RadzenLabel Text="Desde" Style="width: 4rem;" />
                <RadzenDatePicker @bind-Value="@args.Start" Disabled="true" Name="Desde" DateFormat="d/M/yyyy" ShowTime="false" Style="width: 12rem;" />                   
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                    <RadzenLabel Text="Hasta" Style="width: 4rem;" />
                <RadzenDatePicker Name="Hasta" @bind-Value="@args.Start" Disabled="true" DateFormat="d/M/yyyy" ShowTime="false" Style="width: 12rem;" />                    
                </RadzenStack>
                <br />
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                <RadzenButton Text="Eliminar" Click="() => EliminarFechasEnBase(args.Data.Motivo,args.Start)" />
                    <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );

        await calendario.Reload();
    }


    void EliminarFechasEnBase(string motivo, DateTime fechaABorrar)
    {
        string query = "DELETE FROM `medicos_fechas_bloqueadas`"+
        "WHERE `nombreMedico` = @nombreMedico AND `fechaBloqueada`= @fechaBloqueada AND `motivo`= @motivo;";

       
        var parametros = new Dictionary<string, object>
                {
                { "@nombreMedico", medicoSeleccionado },
                { "@fechaBloqueada", fechaABorrar.ToString("yyyy-MM-dd") },
                { "@motivo", motivo }
                };

        int intentoBloqueoFechas = Base.InsertDeleteOrUpdateABase(query, parametros);
        if(intentoBloqueoFechas > 0)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "OK", Detail = "Bloqueo eliminado." });
        }

        RecargarCalendario();
        DialogService.Close(); // Cierra el diálogo
    }



    //Este es para pintar una fecha por algo en especifico.
    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<MedicoFechaBloqueada> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop
        
      
        // if (args.Data.Text == "Birthday")
        // {
        //     args.Attributes["style"] = "background: red";
        // }
    }

}