@page "/editarturno/{TurnoId}"
@attribute [Authorize(Roles = "Admin")]
@inject DialogService DialogService
@inject NavigationManager Navigation
@using Serilog



<PageTitle>Editar turno</PageTitle>

<h2>Editar el turno</h2>

<RadzenTemplateForm Data="@nuevoTurno" Submit="@((Turno args) => { Submit(args); })">
    <RadzenRow Gap="1.5rem" class="rz-p-0 rz-p-lg-4">
        <!-- Primera Columna -->
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenFieldset Text="Datos del Paciente">
                <RadzenStack Gap="1rem">
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Nombre" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.NombrePaciente" Disabled="true" Name="NombrePaciente" Style="width: 100%;" />                            
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Apellido" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.ApellidoPaciente" Disabled="true" Name="ApellidoPaciente" Style="width: 100%;" />
                            <RadzenRequiredValidator Component="ApellidoPaciente" Text="Por favor, completa el apellido." />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="DNI" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenNumeric ShowUpDown="false" Placeholder="Ingrese su doc." Disabled="true" Name="DNI" Style="width: 100%;" @bind-Value="nuevoTurno.Dni" />                            
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Teléfono" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.Telefono" Name="Telefono" Style="width: 100%;" />                                                  
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Domicilio" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.Domicilio" Name="Domicilio" Style="width: 100%;" />                            
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Email" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.Email" Name="Email" Style="width: 100%;" />                            
                        </RadzenColumn>
                    </RadzenRow>

                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>

        <!-- Segunda Columna -->
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenFieldset Text="Detalles del turno">
                <RadzenStack Gap="1rem">
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Médico" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.Medico" Disabled="true" Name="Medico" Style="width: 100%;" />                                                          
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Cobertura" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.Cobertura" Disabled="true" Name="Cobertura" Style="width: 100%;" />                                                         
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Numero de afiliado:" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox MaxLength="45" @bind-Value="nuevoTurno.NumeroAfiliado" Name="NumeroAfiliado" Style="width: 100%;" />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Categoria:" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox MaxLength="45" @bind-Value="nuevoTurno.CategoriaAfiliado" Name="CategoriaAfiliado" Style="width: 100%;" />
                        </RadzenColumn>
                    </RadzenRow>


                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Fecha del turno" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenDatePicker @bind-Value=@nuevoTurno.FechaTurno Name="FechasPosibles" DateFormat="d/M/yyyy" Disabled="true" Style="width:45%;" />
                            <RadzenButton Text="Ver fechas" ButtonStyle="ButtonStyle.Secondary" Style="width:50%;" Click=@MostrarFechasDisponibles />
                            <RadzenRequiredValidator Component="FechasPosibles" Text="Debes seleccionar una fecha." />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Hora del turno" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value=@nuevoTurno.HoraTurno Name="Horarios" Disabled="true" Style="width:45%;" />
                            <RadzenButton Text="Ver horarios" ButtonStyle="ButtonStyle.Secondary" Style="width:50%;" Click=@MostrarHorariosDisponibles />
                            <RadzenRequiredValidator Component="Horarios" Text="Debes seleccionar un horario." />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Notas" />
                            <RadzenTextBox @bind-Value=@nuevoTurno.Notas Name="Notas" MaxLength="500" Style="width: 100%; height: 100px;" />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Notas Internas" />
                            <RadzenTextBox @bind-Value=@nuevoTurno.NotasInternas Name="Notas" MaxLength="500" Style="width: 100%; height: 100px;" />
                        </RadzenColumn>
                    </RadzenRow>

                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>

    </RadzenRow>

    <!-- Botones centrados -->
    <RadzenRow JustifyContent="JustifyContent.Center" class="rz-mt-4">
        <RadzenButton ButtonType="ButtonType.Submit" Click=@MostrarConfirmacion Size="ButtonSize.Large" Icon="save" Text="Confirmar" />
        <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancelar" Click="@Cancelar" />
    </RadzenRow>
</RadzenTemplateForm>


@code {
    [Parameter] public string TurnoId { get; set; } 

    Turno nuevoTurno = new Turno(){};

    List<Cobertura> listaCoberturas = Cobertura.ObtenerCoberturas();
    List<Medico> listaMedicos = Medico.ObtenerMedicos();


    protected override async Task OnInitializedAsync()
    {

        nuevoTurno.Id = Int16.Parse(TurnoId);

        string query = "SELECT * FROM turnos WHERE idturno=@idturno;";
        var parametros = new Dictionary<string, object>
                        {
                            { "@idturno", nuevoTurno.Id }
                        };

        List<Turno> listaTurnos = Base.SelectATurnos(query,parametros);



        foreach(Turno tur in listaTurnos)
        {
            nuevoTurno.NombrePaciente = tur.NombrePaciente;
            nuevoTurno.ApellidoPaciente = tur.ApellidoPaciente;
            nuevoTurno.Dni = tur.Dni;
            nuevoTurno.Medico = tur.Medico;
            nuevoTurno.Cobertura = tur.Cobertura;
            nuevoTurno.NumeroAfiliado = tur.NumeroAfiliado;
            nuevoTurno.CategoriaAfiliado = tur.CategoriaAfiliado;
            nuevoTurno.Notas = tur.Notas;
            nuevoTurno.NotasInternas = tur.NotasInternas;
            nuevoTurno.Telefono = tur.Telefono;
            nuevoTurno.Domicilio = tur.Domicilio;
            nuevoTurno.Email = tur.Email;
            nuevoTurno.FechaTurno = tur.FechaTurno;
            nuevoTurno.HoraTurno = tur.HoraTurno;
        }
    }


    async Task MostrarFechasDisponibles()
    {
        if(nuevoTurno.Medico!="")
        {
            var result = await DialogService.OpenAsync("Elegir una fecha", ds =>
            @<RadzenCard Style="padding: 20px; border-radius: 10px; background-color: #f9f9f9; max-width: 400px;">
                <RadzenStack Gap="1rem" Orientation="Orientation.Vertical">
                    <RadzenLabel Text="📅 Fechas disponibles" Style="font-weight: bold; font-size: 18px; color: #333;" />

                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                        <RadzenLabel Text="Seleccionar fecha:" Style="font-size: 16px;" />
                        <RadzenDatePicker @bind-Value=@nuevoTurno.FechaTurno
                                          DateRender=@((args) => nuevoTurno.DesactivarFechas(args, false))
                                          DateFormat="d/M/yyyy"
                                          Name="FechasPosibles"
                                          Style="width: 100%; max-width: 200px;" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" Style="border-radius: 8px;" />
                        <RadzenButton Text="✅ Confirmar" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Primary" Style="border-radius: 8px;" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
            );
        }
        else
        {
            var result = await DialogService.OpenAsync("Primero debes elegir un médico.", ds =>
            @<RadzenStack Gap="1.5rem">
                <p><b>Elige un médico antes de seleccionar una fecha.</b></p>
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
    );
        }


    }

    async Task MostrarHorariosDisponibles()
    {

        if (nuevoTurno.FechaTurno != DateTime.MinValue)
        {
            var result = await DialogService.OpenAsync("Elegir horario", ds =>
            @<RadzenCard Style="padding: 20px; border-radius: 10px; background-color: #f9f9f9; max-width: 400px;">
                <RadzenStack Gap="1rem" Orientation="Orientation.Vertical">
                    <RadzenLabel Text="⏰ Horarios disponibles" Style="font-weight: bold; font-size: 18px; color: #333;" />

                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                        <RadzenLabel Text="Seleccionar horario:" Style="font-size: 16px;" />
                        <RadzenDropDown @bind-Value=@nuevoTurno.HoraTurno
                                        Data=@nuevoTurno.ObtenerHorariosDisponibles(false)
                                        Style="width: 100%; max-width: 200px;"
                                        Name="DropDownBindValue"
                                        Placeholder="Seleccione un horario" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" Style="border-radius: 8px;" />
                        <RadzenButton Text="✅ Confirmar" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Primary" Style="border-radius: 8px;" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
    );
        }
        else
        {
            var result = await DialogService.OpenAsync("Primero debes elegir una fecha", ds =>
            @<RadzenStack Gap="1.5rem">
                <p><b>Elige una fecha antes.</b></p>
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
    );
        }


    }

async Task MostrarConfirmacion()
{
    if (nuevoTurno.NombrePaciente != "" &&
        nuevoTurno.ApellidoPaciente != "" &&
        nuevoTurno.Medico != "" &&
        nuevoTurno.Cobertura != null &&
        nuevoTurno.FechaTurno != DateTime.MinValue &&
        nuevoTurno.HoraTurno != "")
    {

        string fechaMostrar = nuevoTurno.FechaTurno?.ToString("yyyy-MM-dd") ?? "";

        // 1️⃣ Verificar conflicto de horario
        string queryCheck = @"SELECT * FROM turnos 
                              WHERE medico=@medico 
                              AND fechaTurno=@fechaTurno 
                              AND horaTurno=@horaTurno 
                              AND cancelado=false 
                              AND idturno<>@idturno";

        var parametrosCheck = new Dictionary<string, object>
        {
            { "@medico", nuevoTurno.Medico },
            { "@fechaTurno", fechaMostrar },
            { "@horaTurno", nuevoTurno.HoraTurno },
            { "@idturno", nuevoTurno.Id }
        };

        List<Turno> conflictos = Base.SelectATurnos(queryCheck, parametrosCheck);

        if (conflictos.Count > 0)
        {
            await DialogService.OpenAsync("Horario ocupado", ds =>
            @<RadzenStack Gap="1.5rem">
                <p><b>El horario seleccionado ya está reservado.</b></p>
                <p>Selecciona otro horario.</p>

                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                    <RadzenButton Text="Cerrar" Click="() => ds.Close(true)" />
                </RadzenStack>
            </RadzenStack>
            );

            return;
        }

        // 2️⃣ Si no hay conflicto, actualizar turno
        string queryUpdate = @"UPDATE turnos SET
                cobertura = @cobertura,
                medico = @medico,
                fechaTurno = @fechaTurno,
                horaTurno = @horaTurno,
                telefono = @telefono,
                email = @email,
                domicilio = @domicilio,
                notas = @notas,
                notasInternas = @notasInternas,
                numeroAfiliado = @numeroAfiliado,
                categoriaAfiliado = @categoriaAfiliado
                WHERE idturno = @idturno";

        var parametros = new Dictionary<string, object>
        {
            { "@cobertura", nuevoTurno.Cobertura },
            { "@numeroAfiliado", nuevoTurno.NumeroAfiliado },
            { "@categoriaAfiliado", nuevoTurno.CategoriaAfiliado },
            { "@medico", nuevoTurno.Medico },
            { "@fechaTurno", fechaMostrar },
            { "@horaTurno", nuevoTurno.HoraTurno },
            { "@telefono", nuevoTurno.Telefono },
            { "@email", nuevoTurno.Email },
            { "@domicilio", nuevoTurno.Domicilio },
            { "@notas", nuevoTurno.Notas },
            { "@notasInternas", nuevoTurno.NotasInternas },
            { "@idturno", nuevoTurno.Id }
        };

        int intentoRegistrarTurno = Base.InsertDeleteOrUpdateABase(queryUpdate, parametros);

        if (intentoRegistrarTurno > 0)
        {
            // =========================
            // ENVÍO DE NOTIFICACIONES
            // =========================

            // Email
            if (!string.IsNullOrEmpty(nuevoTurno.Email))
            {
                try
                {
                    EmailService nuevoEmail = new EmailService();

                    string cuerpoEmail = "Su turno ha sido REPROGRAMADO con éxito.<br><br><b>Paciente:</b> "
                    + nuevoTurno.NombrePaciente + " " + nuevoTurno.ApellidoPaciente
                    + "<br> <b>Fecha:</b> " + nuevoTurno.FechaTurno?.ToString("dd/MM/yyyy")
                    + "<br> <b>Hora:</b> " + nuevoTurno.HoraTurno
                    + "<br><b>Médico:</b> " + nuevoTurno.Medico
                    + "<br><br><br> Si desea cancelarlo, puede hacerlo a través de nuestro portal o comunicandose telefonicamente." +
                    "<br><br><i>Este correo es enviado automáticamente. Por favor, no responder. " +
                    "Si desea comunicarse con el consultorio, puede escribirnos por WhatsApp al número <b>2227402738</b>.</i>" +
                    "<br> Muchas gracias. <br><br> Consultorio médico.";

                    await nuevoEmail.EnviarCorreoAsync(nuevoTurno.Email, "Reprogramación de turno", cuerpoEmail);

                    Log.Information("Email de reprogramación enviado a: " + nuevoTurno.Email);
                }
                catch (Exception ex)
                {
                    Log.Error(ex, "Error al enviar email de reprogramación.");
                }
            }

            // WhatsApp
            if (!string.IsNullOrEmpty(nuevoTurno.Telefono))
            {
                try
                {
                    var whatsappService = new WhatsAppService();

                    var contentSid = "HX9ebcae55ebbba49387839d51c218d468"; // mismo template

                    var variables = new Dictionary<string, string>
                    {
                        { "1", nuevoTurno.NombrePaciente },
                        { "2", nuevoTurno.Medico },
                        { "3", nuevoTurno.FechaTurno?.ToString("dd/MM/yyyy") ?? "" },
                        { "4", nuevoTurno.HoraTurno }
                    };

                    whatsappService.EnviarMensajePlantilla(nuevoTurno.Telefono, contentSid, variables);
                }
                catch (Exception ex)
                {
                    Log.Error(ex, "Error al enviar WhatsApp de reprogramación: " + nuevoTurno.Telefono);
                }
            }
            await DialogService.OpenAsync("Confirmación", ds =>
            @<RadzenStack Gap="1.5rem">

                <p><b>¡El turno fue reprogramado correctamente!</b></p>

                <p><b>Paciente:</b> @nuevoTurno.NombrePaciente @nuevoTurno.ApellidoPaciente</p>
                <p><b>Médico:</b> @nuevoTurno.Medico</p>
                <p><b>Fecha:</b> @nuevoTurno.FechaTurno?.ToString("dd/MM/yyyy")</p>
                <p><b>Hora:</b> @nuevoTurno.HoraTurno</p>

                <RadzenStack Orientation="Orientation.Horizontal"
                             JustifyContent="JustifyContent.Center">

                    <RadzenButton Text="Volver al listado"
                                  Click="@(()=> Navigation.NavigateTo("/listarturnos"))" />

                </RadzenStack>

            </RadzenStack>
            );
        }
        else
        {
            await DialogService.OpenAsync("Error", ds =>
            @<RadzenStack Gap="1.5rem">
                <p><b>No se pudo actualizar el turno.</b></p>

                <RadzenButton Text="Cerrar" Click="() => ds.Close(true)" />
            </RadzenStack>
            );
        }
    }
    else
    {
        await DialogService.OpenAsync("Error", ds =>
        @<RadzenStack Gap="1.5rem">

            <p><b>Debes completar todos los campos.</b></p>

            <RadzenButton Text="Cerrar" Click="() => ds.Close(true)" />

        </RadzenStack>
        );
    }
}
    
    void RedirectToHome()
    {
        Navigation.NavigateTo("/");
    }
    

    void Submit(Turno arg)
    {
    }

    void Cancelar()
    {
        Navigation.NavigateTo("/listarturnos");
    }
}