@page "/listarturnos"

@using Microsoft.AspNetCore.Authorization
@using Serilog
@attribute [Authorize(Roles = "Admin")]

@inject DialogService DialogService
@inject NavigationManager Navigation
@inject DialogService DialogService
@inject NotificationService NotificationService


<PageTitle>Listado de turnos reservados</PageTitle>


<h2 style="text-align: center; margin-top: 1rem; margin-bottom: 1rem;">Listado de turnos reservados</h2>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="1rem" class="rz-p-sm-12" Style="width: 100%;">
    <!-- Selección de Médico -->
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
        <RadzenLabel Text="Seleccionar médico" Component="DropDownBindValue" />
        <RadzenDropDown @bind-Value="medicoSeleccionado" Placeholder="Seleccionar" Data="@listaMedicos" Change="@OnMedicoSeleccionado"
                        Style="width: 250px;" TextProperty="NombreMedico" ValueProperty="NombreMedico" Name="Medico">
            <RadzenRequiredValidator Component="Medico" Text="Debes seleccionar un médico" />
        </RadzenDropDown>
    </RadzenStack>

    <!-- Checkbox de Cancelados -->
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
        <RadzenCheckBox @bind-Value="mostrarCancelados" TValue="bool" Change="@OnMostrarCanceladosChange" Name="ButtonMostrarCancelados" />
        <RadzenLabel Text="Mostrar cancelados" Component="ButtonMostrarCancelados" class="rz-ms-2" />
    </RadzenStack>

    <!-- Mensaje dinámico -->
    <RadzenLabel class="mensaje-turnos" Style="font-size: 1.1rem; font-weight: bold;">
        @if (mostrarCancelados)
        {
            <span style="color: red;">❌ Turnos cancelados</span>
        }
        else
        {
            <span style="color: green;">✅ Turnos pendientes</span>
        }
    </RadzenLabel>

    <!-- Checkbox de Expirados -->
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
        <RadzenCheckBox @bind-Value="mostrarExpirados" TValue="bool" Change="@OnMostrarExpiradosChange" Name="ButtonMostrarExpirados" />
        <RadzenLabel Text="Mostrar expirados (anteriores a hoy)" Component="ButtonMostrarExpirados" class="rz-ms-2" />
    </RadzenStack>


</RadzenStack>


<RadzenColumn Size="12" class="rz-p-2" Style="width: 100%; margin-bottom: 4rem;">
    <RadzenStack Gap="1.5rem">
        <RadzenDataGrid @ref="turnosGrid"
        AllowFiltering="true"
        FilterMode="FilterMode.Simple"
        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        AllowPaging="true"
        PageSize="10"
        AllowSorting="true"
        Data="@turnos"
        TItem="Turno"
        ColumnWidth="200px"
        EmptyText="📭 No hay turnos para mostrar"
        Style="width: 1600px; margin-left:-25%; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
            <Columns>
                <RadzenDataGridColumn Property="NombrePaciente" Title="Nombre" Width="120px">
                    <EditTemplate Context="shift">
                        <RadzenTextBox @bind-Value="shift.NombrePaciente" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="ApellidoPaciente" Title="Apellido" Width="120px">
                    <EditTemplate Context="shift">
                        <RadzenTextBox @bind-Value="shift.ApellidoPaciente" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="Dni" Title="DNI" Width="100px">
                    <EditTemplate Context="shift">
                        <RadzenNumeric TValue="int?" @bind-Value="shift.Dni" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="Cobertura" Title="Cobertura" Width="120px">
                    <EditTemplate Context="shift">
                        <RadzenTextBox @bind-Value="shift.Cobertura" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="Medico" Title="Médico" Width="120px">
                    <EditTemplate Context="shift">
                        <RadzenTextBox @bind-Value="shift.Medico" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="FechaTurno" Title="Fecha" Width="100px" SortOrder="@OrdenActual" TextAlign="TextAlign.Center">
                    <Template Context="shift">
                        📅 @shift.FechaTurno?.ToString("dd/MM/yyyy")
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="HoraTurno" Title="Hora" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="shift">
                        🕒 @shift.HoraTurno
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Context="shift" Filterable="false" Sortable="false" Title="Notas" Width="60px" TextAlign="TextAlign.Center">
                    <Template Context="shift">
                        @if (!string.IsNullOrEmpty(shift.Notas))
                        {
                            <RadzenButton Click=@(args => VerNotas(shift.Notas))
                            Text="📝 Ver"
                            Size="ButtonSize.Small"
                            ButtonStyle="ButtonStyle.Info" />
                        }
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Context="shift" Filterable="false" Sortable="false" Title="PDF" Width="60px" TextAlign="TextAlign.Center">
                    <Template Context="shift">
                        @if (shift.TienePdf)
                        {
                            <RadzenButton Click=@(args => VerPDF(shift.Id))
                            Text="📄 Ver"
                            Size="ButtonSize.Small"
                            ButtonStyle="ButtonStyle.Info" />
                        }
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Context="shift" Filterable="false" Sortable="false" Title="N.Int" Width="60px" TextAlign="TextAlign.Center">
                    <Template Context="shift">
                        @if (!string.IsNullOrEmpty(shift.NotasInternas))
                        {
                            <RadzenButton Click=@(args => VerNotas(shift.NotasInternas))
                            Text="📌 Ver"
                            Size="ButtonSize.Small"
                            ButtonStyle="ButtonStyle.Info" />
                        }
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Context="shift" Filterable="false" Sortable="false" Title="Contacto" Width="65px" TextAlign="TextAlign.Center">
                    <Template Context="shift">
                        <RadzenButton Click=@(args => VerContacto(shift))
                        Text="📞 Ver"
                        Size="ButtonSize.Small"
                        ButtonStyle="ButtonStyle.Light" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Context="shift" Filterable="false" Sortable="false" TextAlign="TextAlign.Left" Width="90px">
                    <Template Context="shift">
                        @if (!shift.Cancelado)
                        {
                            <RadzenButton Icon="build"
                            ButtonStyle="ButtonStyle.Success"
                            Size="ButtonSize.Small"
                            Click="@(args => EditarTurno(shift.Id))" />
                            <RadzenButton Icon="delete"
                            ButtonStyle="ButtonStyle.Danger"
                            Size="ButtonSize.Small"
                            Click="@(args => ButtonCancelarTurno(shift))" />
                        }
                        else
                        {
                            <RadzenButton Click=@(args => VerMotivo(shift.NombrePaciente,shift.ApellidoPaciente,shift.MotivoCancelacion))
                            Text="📌 Motivo"
                            Size="ButtonSize.Small"
                            ButtonStyle="ButtonStyle.Light" />

                            <RadzenButton Icon="delete"
                            ButtonStyle="ButtonStyle.Danger"
                            Size="ButtonSize.Small"
                            Style="margin-left:2px;"
                            Click="@(args => ButtonEliminarTurno(shift))" />
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>
</RadzenColumn>




@code
{
    string medicoSeleccionado = "";
    List<Medico> listaMedicos = Medico.ObtenerMedicos();

    bool mostrarCancelados;
    bool mostrarExpirados;
    //Cambio el orden de los turnos dependiendo si mostrarExpirados. 
    private SortOrder OrdenActual => mostrarExpirados ? SortOrder.Descending : SortOrder.Ascending;

    Turno turno = new Turno() { };

    RadzenDataGrid<Turno> turnosGrid;

    IEnumerable<Turno> turnos;

    protected override async Task OnInitializedAsync()
    {
        listaMedicos.Add(new Medico() { NombreMedico = "Todos" });
    }

    private bool firstRender = true;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (this.firstRender) // ✅ Usamos la variable de instancia
        {
            await ReloadGrid();
            this.firstRender = false; // ✅ Asegurar que solo se ejecute una vez
            StateHasChanged(); // 🔄 Forzar render para reflejar cambios en la UI
        }
    }

    private void OnMedicoSeleccionado(object value)
    {
        ReloadGrid();
    }
    async Task OnMostrarCanceladosChange(bool value)
    {
        mostrarCancelados = value;  // Actualiza la variable
        await ReloadGrid();         // Llama a ReloadGrid() correctamente
    }

    async Task OnMostrarExpiradosChange(bool value)
    {
        mostrarExpirados = value;  // Actualiza la variable
        await ReloadGrid();         // Llama a ReloadGrid() correctamente
    }

    async Task ButtonCancelarTurno(Turno shift)
    {
        var result = await DialogService.OpenAsync("Atención", ds =>
        @<RadzenStack Gap="1.5rem">
        <p>Estás a punto de cancelar el turno de : <b>@shift.NombrePaciente @shift.ApellidoPaciente</b></p>
        <p>Día:  <b>@shift.FechaTurno?.ToString("dd/MM/yyyy") </b></p>
        <p>Hora:  <b>@shift.HoraTurno </b></p>
        <p>Médico:  <b>@shift.Medico </b></p>

        <p><b>¿Desea continuar? </b></p>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Confirmar" Click="@(args => CancelarTurno(shift.Id))" />
                    <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );
    }

    async Task ButtonEliminarTurno(Turno shift)
    {
        var result = await DialogService.OpenAsync("Atención", ds =>
    @<RadzenStack Gap="1.5rem">
        <p>Estás a punto de eliminar el turno de : <b>@shift.NombrePaciente @shift.ApellidoPaciente</b> definitivamente.</p>
        <p>Día:  <b>@shift.FechaTurno?.ToString("dd/MM/yyyy") </b></p>
        <p>Hora:  <b>@shift.HoraTurno </b></p>
        <p>Médico:  <b>@shift.Medico </b></p>

        <p>¿Desea continuar?  <b> Esta opción no se puede deshacer. </b></p>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Confirmar" Click="@(args => EliminarTurno(shift.Id))" />
                <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
        );
    }

    async Task VerPDF(int idTurno)
    {
        string query = "SELECT * FROM `pdfs` WHERE idTurno = @idTurno";
        var parametros = new Dictionary<string, object> 
        {
            { "@idTurno", idTurno } 
        };

        List<Pdf> listaArchivos = Base.SelectAPDFS(query, parametros);

        var result = await DialogService.OpenAsync("Archivo adjunto", ds =>
        @<RadzenStack Gap="1.5rem">
        <p>El turno tiene los siguientes archivos adjuntos: </p>

        @foreach(Pdf archivo in listaArchivos) 
        {
             <a href="data:application/pdf;base64,@Convert.ToBase64String(archivo.Archivo)"
               download="turno.pdf">
                @archivo.NombreArchivo
            </a>
        }
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                <RadzenStack Orientation="Orientation.Horizontal">

                    <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );
    }

    void CancelarTurno(int idABorrar)
    {
        string query = "UPDATE `turnos` SET cancelado=true,motivoCancelacion='Cancelado por el Consultorio.' WHERE idTurno=@idTurno;"; 
        var parametros = new Dictionary<string, object> { { "@idTurno", idABorrar } };

        int cambiarEstado = Base.InsertDeleteOrUpdateABase(query,parametros);
        if (cambiarEstado > 0)
        {
            DialogService.Close(); // Cierra el diálogo
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "OK", Detail = "Turno cancelado" });
            ReloadGrid();
        }
        else
        {
            Console.WriteLine("error cancelando el turno");
        }
    }

    void EliminarTurno(int idABorrar)
    {
        string query = "DELETE FROM turnos WHERE idTurno=@idTurno;";
        var parametros = new Dictionary<string, object> { { "@idTurno", idABorrar } };

        int cambiarEstado = Base.InsertDeleteOrUpdateABase(query, parametros);
        if (cambiarEstado > 0)
        {
            DialogService.Close(); // Cierra el diálogo
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "OK", Detail = "Turno eliminado." });
            ReloadGrid();
        }
        else
        {
            Console.WriteLine("error eliminando el turno");
        }
    }

    async Task ReloadGrid()
    {
        string query = "SELECT * FROM turnos WHERE cancelado=@cancelado";
        var parametros = new Dictionary<string, object>
                    {
                        { "@cancelado", mostrarCancelados }
                    };


        if (!string.IsNullOrEmpty(medicoSeleccionado) &&  medicoSeleccionado!="Todos" )
        {

            query = query + " AND medico=@medico";
            parametros = new Dictionary<string, object>
                        {
                        { "@cancelado", mostrarCancelados },
                         { "@medico", medicoSeleccionado }
                        };

        }

        if (mostrarExpirados)
        {
            query = query + $" AND fechaTurno < '{DateTime.Today.ToString("yyyy-MM-dd")}'";
        }
        else
        {
            query = query + $" AND fechaTurno >= '{DateTime.Today.ToString("yyyy-MM-dd")}'";        
        }

        turnos = Base.SelectATurnos(query,parametros);

        await turnosGrid.Reload();

    }

    async Task VerNotas(string nota)
    {
        var result = await DialogService.OpenAsync("Nota adjunta", ds =>
        @<RadzenStack Gap="1.5rem">
            <p><b>El turno tiene la siguiente nota:</b></p>
            <p> @nota </p>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
        );

    }

    async Task VerContacto(Turno datosContacto)
    {
        var result = await DialogService.OpenAsync("Datos de contacto:", ds =>
    @<RadzenStack Gap="2rem">
        <p style="font-size: 1.2rem; color: #333;">Datos de contacto de: <b>@datosContacto.NombrePaciente @datosContacto.ApellidoPaciente</b></p>

        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">

            <!-- Email y botón de reenvío -->
            @if(!string.IsNullOrEmpty(datosContacto.Email))
            {
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" AlignItems="AlignItems.Center">
                    <p style="font-size: 1rem; color: #555;"><b>Email:</b> @datosContacto.Email</p>
                    <RadzenButton Text="Reenviar email de confirmacion" Icon="email" Click="() => ReenviarEmailConfirmacion(datosContacto)" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" />
                </RadzenStack>
            }
            

            <!-- Número de afiliado -->
            @if(!string.IsNullOrEmpty(datosContacto.NumeroAfiliado))
        {
            <p style="font-size: 1rem; color: #555;"><b>Número Afiliado:</b> @datosContacto.NumeroAfiliado</p>
        }

            <!-- Categoría de afiliado -->
            @if(!string.IsNullOrEmpty(datosContacto.CategoriaAfiliado))
        {
            <p style="font-size: 1rem; color: #555;"><b>Categoría Afiliado:</b> @datosContacto.CategoriaAfiliado</p>
        }

            <!-- Domicilio -->
            @if(!string.IsNullOrEmpty(datosContacto.Domicilio))
        {
            <p style="font-size: 1rem; color: #555;"><b>Domicilio:</b> @datosContacto.Domicilio</p>
        }
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
            <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Medium" />
        </RadzenStack>
    </RadzenStack>
    );
    }




    async Task ReenviarEmailConfirmacion(Turno datosContacto)
    {
        //Envio el email de confirmacion
        if (!string.IsNullOrEmpty(datosContacto.Email))
        {
            EmailService nuevoEmail = new EmailService();
            string cuerpoEmail = "Su turno ha sido confirmado con éxito.<br><br><b>Paciente:</b> " + datosContacto.NombrePaciente + " " + datosContacto.ApellidoPaciente + "<br> <b>Fecha:</b> " +
                                    datosContacto.FechaTurno?.ToString("dd/MM/yyyy") + "<br> <b>Hora:</b> " + datosContacto.HoraTurno + 
                                    "<br><b>Médico:</b> " + datosContacto.Medico +
                                    "<br><br><br> Si desea cancelarlo, puede hacerlo a través de nuestro portal o comunicandose telefonicamente. <br> Muchas gracias. <br><br> Consultorio médico.";
            await nuevoEmail.EnviarCorreoAsync(datosContacto.Email, "Confirmación de turno", cuerpoEmail);
            Log.Information("Email enviado manualmente.");

            DialogService.Close(); // Cierra el diálogo
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "OK", Detail = "Email enviado" });
        }
    }

    async Task VerMotivo(string nombre, string apellido, string motivo)
    {
        var result = await DialogService.OpenAsync("Motivo:", ds =>
        @<RadzenStack Gap="1.5rem">
        <p>El turno de <b>@nombre @apellido </b> tiene el siguiente motivo de cancelación:</p>
        <p> @motivo </p>
        
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    );

    }

    
    private void EditarTurno(int id)
    {
        Navigation.NavigateTo($"/editarturno/{id}");
    }
}

