@page "/misturnos"

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DialogService DialogService
@inject NavigationManager Navigation
@inject DialogService DialogService
@inject NotificationService NotificationService


<PageTitle>Mis turnos</PageTitle>


<h2 style="text-align: center;  margin-top: 3rem; margin-bottom: 1rem;">📅 Listado de turnos reservados</h2>

<div class="rz-mb-3" style="display: flex; align-items: flex-start; justify-content: start; gap: 20px; padding: 10px 0 0 20px;">
    <RadzenLabel Text="Mostrar cancelados" Component="ButtonMostrarCancelados"
    style="font-size: 1.1rem; font-weight: bold;" />    
    <RadzenCheckBox TValue="bool" @bind-Value="mostrarCancelados" Name="ButtonMostrarCancelados" Change="@OnMostrarCanceladosChange" />

</div>

<!-- Mensaje dinámico -->
<div class="mensaje-turnos">
    @if (mostrarCancelados)
    {
        <span class="mensaje-cancelados">❌ Turnos cancelados</span>
    }
    else
    {
        <span class="mensaje-pendientes">✅ Turnos pendientes</span>
    }
</div
<br />
<!-- 📌 TABLA COMPLETA (para pantallas grandes) -->
<RadzenColumn class="tabla-grande" Size="12" style="width: 100%; margin-bottom: 4rem; border-radius: 10px; background: #f9f9f9;  padding: 15px;">
    <RadzenStack Gap="1.5rem">
        <RadzenDataGrid @ref="turnosGrid"
        AllowFiltering="false"
        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        AllowPaging="true"
        PageSize="5"
        AllowSorting="true"
        Data="@turnos"
        TItem="Turno"                                                
        EmptyText="📭 No hay turnos disponibles"
        Style="width: 100%; max-width: 100%; border-radius: 10px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); padding: 10px;">
            <Columns >
                <RadzenDataGridColumn Property="NombrePaciente" Title="Nombre" Width="130px">
                    <EditTemplate Context="shift">
                        <RadzenTextBox @bind-Value="shift.NombrePaciente" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="ApellidoPaciente" Title="Apellido" Width="130px">
                    <EditTemplate Context="shift">
                        <RadzenTextBox @bind-Value="shift.ApellidoPaciente" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn  Property="Dni" Title="DNI" Width="110px">
                    <EditTemplate Context="shift">
                        <RadzenNumeric TValue="int?" @bind-Value="shift.Dni" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="Medico" Title="Médico" Width="80px">
                    <EditTemplate Context="shift">
                        <RadzenTextBox @bind-Value="shift.Medico" Style="width: 100%; border-radius: 5px;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="FechaTurno" Filterable="false" TextAlign="TextAlign.Center" Title="Fecha" Width="120px">
                    <Template Context="shift">
                        📅 @shift.FechaTurno?.ToString("dd/MM/yyyy")
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="HoraTurno" TextAlign="TextAlign.Center" Title="Hora" Width="80px">
                    <Template Context="shift">
                        🕒 @shift.HoraTurno
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Context="shift" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Title="Notas" Width="80px">
                    <Template Context="shift">
                        @if (!string.IsNullOrEmpty(shift.Notas))
                        {
                            <RadzenButton Click="() => VerNotas(shift.Notas)" Text="📝 Ver" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Info" />
                        }
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Context="shift" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Title="PDF" Width="80px">
                    <Template Context="shift">
                        @if (shift.DocumentoPDF != null)
                        {
                            <RadzenButton Click="() => VerPDF(shift.DocumentoPDF)" Text="📄 Ver" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Info" />
                        }
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Context="shift" Filterable="false" Sortable="false" TextAlign="TextAlign.Left" Width="110px">
                    <Template Context="shift">
                        @if (!shift.Cancelado)
                        {
                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Click="() => DeleteRow(shift)" />
                        }
                        else
                        {
                            <RadzenButton Click="() => VerMotivo(shift.MotivoCancelacion)" Text="📌 Motivo" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light" />
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>
</RadzenColumn>


<!-- 📌 TABLA COMPACTA (para pantallas pequeñas) -->
<RadzenColumn Size="12" class="tabla-pequena" style="width: 100%; margin-bottom: 14rem; border-radius: 10px; background: #f9f9f9; padding: 5px;">
    <RadzenStack Gap="1.5rem">
        <RadzenDataGrid AllowPaging="true"
        PageSize="5"
        AllowSorting="true"
        Data="@turnos"
        TItem="Turno"
        EmptyText="📭 No hay turnos disponibles"
        Style="width: 100%; max-width: 100%; border-radius: 10px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); padding: 10px;">
            <Columns>
                <RadzenDataGridColumn Property="Medico" Title="Médico" Width="95px" />

                <RadzenDataGridColumn Property="FechaTurno" Title="Fecha" Width="85px">
                    <Template Context="shift">
                        @shift.FechaTurno?.ToString("dd/MM")
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn Property="HoraTurno" Title="Hora" Width="67px" />

                <RadzenDataGridColumn Context="shift" Filterable="false"  Title="" Sortable="false" TextAlign="TextAlign.Left" Width="110px">
                    <Template Context="shift">
                        @if (!shift.Cancelado)
                        {
                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Click="() => DeleteRow(shift)" />
                        }
                        else
                        {
                            <RadzenButton Click="() => VerMotivo(shift.MotivoCancelacion)" Text="📌Ver" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light" />
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>
</RadzenColumn>


@code
{

    bool mostrarCancelados;

    Turno turno = new Turno() { };

    RadzenDataGrid<Turno> turnosGrid;

    IEnumerable<Turno> turnos;

    private string userEmail = "";
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            userEmail = user.FindFirst(c => c.Type == ClaimTypes.Email)?.Value ?? "Email no encontrado";
        }
       
    }

   private bool firstRender = true;

protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (this.firstRender) // ✅ Usamos la variable de instancia
    {
        await ReloadGrid();
        this.firstRender = false; // ✅ Asegurar que solo se ejecute una vez
        StateHasChanged(); // 🔄 Forzar render para reflejar cambios en la UI
    }
}



    async Task DeleteRow(Turno shift)
    {
        var result = await DialogService.OpenAsync("Atención", ds =>
        @<RadzenStack Gap="1.5rem">
        <p>Estás a punto de cancelar el turno:</p>
        <p>Día:  <b>@shift.FechaTurno?.ToString("dd/MM/yyyy") </b></p>
        <p>Hora:  <b>@shift.HoraTurno </b></p>
        <p>Médico:  <b>@shift.Medico </b></p>

        <p><b>¿Desea continuar? </b></p>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Confirmar" Click="@(args => CancelarTurno(shift.Id))" />
                    <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );
    }

    async Task VerPDF(byte[] pdf)
    {
        var result = await DialogService.OpenAsync("Archivo adjunto", ds =>
        @<RadzenStack Gap="1.5rem">
        <p>El turno tiene el siguiente archivo adjunto: </p>

        <a href="data:application/pdf;base64,@Convert.ToBase64String(pdf)"
           download="turno.pdf">
            Descargar PDF
        </a>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                <RadzenStack Orientation="Orientation.Horizontal">

                    <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );
    }

    void CancelarTurno(int idABorrar)
    {
        string query = "UPDATE `turnos-medicos`.`turnos` SET cancelado=true,motivoCancelacion='Cancelado por admin desde Listado de turnos' WHERE idTurno=@idTurno;"; 
        var parametros = new Dictionary<string, object> { { "@idTurno", idABorrar } };

        int cambiarEstado = Base.InsertDeleteOrUpdateABase(query,parametros);
        if (cambiarEstado > 0)
        {
            DialogService.Close(); // Cierra el diálogo
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "OK", Detail = "Turno cancelado" });
            ReloadGrid();
        }
        else
        {
            Console.WriteLine("error cancelando el turno");
        }
    }

    async Task OnMostrarCanceladosChange(bool value)
    {
        mostrarCancelados = value;  // Actualiza la variable
        await ReloadGrid();         // Llama a ReloadGrid() correctamente
    }

    async Task ReloadGrid()
    {
        string query = "SELECT * FROM `turnos-medicos`.turnos WHERE email=@email AND cancelado=@cancelado";

        var parametros = new Dictionary<string, object>
            {
            { "@email", userEmail },
            { "@cancelado", mostrarCancelados }
            };
        
        turnos = Base.SelectATurnos(query,parametros);

        await turnosGrid.Reload();

    }

    async Task VerNotas(string nota)
    {
        var result = await DialogService.OpenAsync("Nota System.NullReferenceException: 'Object reference not set to an instance of an object.'adjunta", ds =>
        @<RadzenStack Gap="1.5rem">
            <p><b>El turno tiene la siguiente nota:</b></p>
            <p> @nota </p>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
        );

    }

    
    async Task VerMotivo(string motivo)
    {
        var result = await DialogService.OpenAsync("Motivo:", ds =>
        @<RadzenStack Gap="1.5rem">
        <p>El turno tiene el siguiente motivo de cancelación:</p>
        <p> @motivo </p>
        
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    );

    }

    
    private void EditarTurno(int id)
    {
        Navigation.NavigateTo($"/editarturno/{id}");
    }
}

