@page "/reservarturno"
@page "/reservarturno/{medicoParam?}/{fechaParam?}/{horaParam?}"
@attribute [Authorize]
@inject DialogService DialogService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Serilog
@using System.Globalization



<PageTitle>Reservar turno</PageTitle>

<h2 style="text-align: center; margin-top: 1rem; margin-bottom: 1rem;">Reservar un turno</h2>

<RadzenTemplateForm Data="@nuevoTurno" Submit="@((Turno args) => { Submit(args); })">
    <RadzenRow Gap="1.5rem" class="rz-p-0 rz-p-lg-4">
        <!-- Primera Columna -->
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenFieldset Text="Datos del Paciente">
                <RadzenStack Gap="1rem">
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Nombre" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.NombrePaciente" Name="NombrePaciente" Style="width: 100%;" />
                            <RadzenRequiredValidator Component="NombrePaciente" Text="Por favor, completa el nombre." />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Apellido" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.ApellidoPaciente" Name="ApellidoPaciente" Style="width: 100%;" />
                            <RadzenRequiredValidator Component="ApellidoPaciente" Text="Por favor, completa el apellido." />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="DNI" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenNumeric ShowUpDown="false" Placeholder="Ingrese su doc." Name="DNI" Style="width: 100%;" @bind-Value="nuevoTurno.Dni" />
                            @if (!esAdmin) {  <RadzenRequiredValidator Component="DNI" Text="Completa el DNI del paciente." />}
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Teléfono (formato: +549...)" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.Telefono" Name="Telefono" Style="width: 100%;" />
                            @if (!esAdmin)
                            {
                                <RadzenRequiredValidator Component="Telefono" Text="Por favor, completá el teléfono." />
                                @if (!telefonoFormatoValido && !string.IsNullOrEmpty(nuevoTurno.Telefono))
                                {
                                    <div style="color: red; margin-top: 5px;">
                                        El formato debe ser: <b>+549XXXXXXXXXX</b> (sin espacios ni guiones)
                                    </div>
                                }
                            }
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Domicilio" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value="nuevoTurno.Domicilio" Name="Domicilio" Style="width: 100%;" />
                            @if (!esAdmin) { <RadzenRequiredValidator Component="Domicilio" Text="Por favor, completa el domicilio." /> }
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Email" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            @if (esAdmin)
                            {
                                <RadzenTextBox @bind-Value="nuevoTurno.Email" Name="Email" Style="width: 100%;" />
                            }
                            else
                            {
                                <RadzenTextBox @bind-Value="userEmail" Disabled="true" Name="Email" Style="width: 100%;" />
                            }                            
                        </RadzenColumn>
                    </RadzenRow>

                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>

        <!-- Segunda Columna -->
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenFieldset Text="Detalles del turno">
                <RadzenStack Gap="1rem">

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Médico" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenDropDown @bind-Value="nuevoTurno.Medico" Name="Medico" Placeholder="Selecciona un médico" Data="@listaMedicos" Change="@OnMedicoSeleccionado" Style="width: 100%;" TextProperty="NombreMedico" ValueProperty="NombreMedico">
                                <RadzenRequiredValidator Component="Medico" Text="Debes seleccionar un médico." />
                            </RadzenDropDown>
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Cobertura" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenDropDown @bind-Value="nuevoTurno.Cobertura" AllowFiltering="true" Name="Cobertura" Placeholder="Selecciona una cobertura" Data="@listaCoberturas" Style="width: 100%;" TextProperty="NombreCobertura" ValueProperty="NombreCobertura">
                                <RadzenRequiredValidator Component="Cobertura" Text="Debes seleccionar una cobertura." />
                            </RadzenDropDown>
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Numero de afiliado:" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox MaxLength="45" @bind-Value="nuevoTurno.NumeroAfiliado" Name="NumeroAfiliado" Style="width: 100%;" />                            
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Categoria:" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox MaxLength="45" @bind-Value="nuevoTurno.CategoriaAfiliado" Name="CategoriaAfiliado" Style="width: 100%;" />                            
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Fecha del turno 📅" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenDatePicker @bind-Value=@nuevoTurno.FechaTurno Name="FechasPosibles" DateFormat="d/M/yyyy" Disabled="true" Style="width:48%;" />
                            <RadzenButton Text="Ver fechas" ButtonStyle="ButtonStyle.Secondary" Style="width:50%;" Click=@MostrarFechasDisponibles />
                            <RadzenRequiredValidator Component="FechasPosibles" Text="Debes seleccionar una fecha." />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Hora del turno 🕒" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox @bind-Value=@nuevoTurno.HoraTurno Name="Horarios" Disabled="true" Style="width:45%;" />
                            <RadzenButton Text="Ver horarios" ButtonStyle="ButtonStyle.Secondary" Style="width:50%;" Disabled=false Click=@MostrarHorariosDisponibles />
                            <RadzenRequiredValidator Component="Horarios" Text="Debes seleccionar un horario." />
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow AlignItems="AlignItems.Center" Style="padding: 10px;  border-radius: 8px;">
                        <RadzenColumn Size="12" SizeMD="4" Style="display: flex; align-items: center;">
                            <RadzenLabel Text="Cargar documento" Style="font-weight: bold; font-size: 16px; color: #333;" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8" Style="display: flex; flex-direction: column; align-items: center;">
                            <RadzenUpload Accept=".pdf"                                    
                            Multiple="true"
                            Change=@ArchivoSeleccionado
                            Style="width: 100%; max-width: 400px; border: 2px  ; padding: 10px; border-radius: 8px; text-align: center; background-color: #e9f5ff;"
                            Icon="upload"
                            ChooseText="📤 Subir PDF" />
                            <RadzenLabel Text=@mensajeErrorArchivo
                            Style="color: red; font-size: 14px; margin-top: 5px;"
                            Visible=@mostrarErrorArchivo />
                        </RadzenColumn>
                    </RadzenRow>

                    <!-- Lista de archivos subidos -->
                    <RadzenDataList Data="@pdfBytes" Style="width: 100%; margin-top: 10px;">
                        <Template Context="pdf">
                            <div style="display: flex; justify-content: space-between; align-items: center; padding: 5px; border-bottom: 1px solid #ccc;">
                                <span>@pdf.NombreArchivo</span>
                                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Click="() => EliminarArchivo(pdf)" />
                            </div>
                        </Template>
                    </RadzenDataList>


                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12">
                            <RadzenLabel Text="Notas" />
                            <RadzenTextBox @bind-Value=@nuevoTurno.Notas Name="Notas" MaxLength="500" Style="width: 100%; height: 100px;" />
                        </RadzenColumn>
                    </RadzenRow>

                    @if(esAdmin)
                    {
                        <RadzenRow AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12">
                                <RadzenLabel Text="Notas Internas" />
                                <RadzenTextBox @bind-Value=@nuevoTurno.NotasInternas Name="Notas" MaxLength="500" Style="width: 100%; height: 100px;" />
                            </RadzenColumn>
                        </RadzenRow>
                    }

                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>

    </RadzenRow>

    <!-- Botones centrados -->
    <RadzenRow JustifyContent="JustifyContent.Center" class="rz-mt-4">
        <RadzenButton ButtonType="ButtonType.Submit" Click=@MostrarResumen Size="ButtonSize.Large" Icon="save" Text="Confirmar" />
        <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancelar" Click="@Cancelar" />
    </RadzenRow>
</RadzenTemplateForm>

<br />

@code {
    [Parameter] public string? medicoParam { get; set; }
    [Parameter] public string? fechaParam { get; set; }
    [Parameter] public string? horaParam { get; set; }


    Turno nuevoTurno = new Turno(){};

    List<Cobertura> listaCoberturas = Cobertura.ObtenerCoberturas();
    List<Medico> listaMedicos = Medico.ObtenerMedicos();

    bool telefonoFormatoValido =>
        !string.IsNullOrWhiteSpace(nuevoTurno.Telefono) &&
        System.Text.RegularExpressions.Regex.IsMatch(nuevoTurno.Telefono, @"^\+549\d{10}$");



    private string userEmail = "";
    private bool esAdmin = false;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            userEmail = user.FindFirst(c => c.Type == ClaimTypes.Email)?.Value ?? "Email no encontrado";
        }

        esAdmin = user.IsInRole("Admin");

        if (esAdmin && !string.IsNullOrEmpty(medicoParam) && !string.IsNullOrEmpty(fechaParam) && !string.IsNullOrEmpty(horaParam))
        {

            nuevoTurno.Medico = medicoParam;
            nuevoTurno.FechaTurno = DateTime.ParseExact(fechaParam, "dd-MM-yyyy", CultureInfo.InvariantCulture);
            nuevoTurno.HoraTurno = horaParam;
        }

    }

    private void OnMedicoSeleccionado(object value)
    {
        nuevoTurno.Medico = value as string;
        nuevoTurno.FechaTurno = null; // Vaciar la fecha del turno cuando cambia el médico
    }



    string mensajeErrorArchivo = "";
    bool mostrarErrorArchivo = false;
    const long MAX_FILE_SIZE = 10 * 1024 * 1024;  //Acepta hasta 10 mb de tamaño
    List<Pdf> pdfBytes = new List<Pdf>();

    //Este metodo recibe el archivo seleccionado y lo convierte a bytes. Luego lo asigna a 'pdfBytes' que lo uso para el INSERT a base.
    async Task ArchivoSeleccionado(UploadChangeEventArgs args)
    {
        try
        {
            // Verificar si hay archivos antes de procesarlos
            if (args.Files == null || !args.Files.Any())
            {
                Log.Error("No hay archivos seleccionados.");
                return;
            }
            foreach (var file in args.Files)
            {
                if (file != null)
                {
                    if (file.Size > MAX_FILE_SIZE)
                    {
                        mensajeErrorArchivo = "El archivo es demasiado grande. El tamaño máximo permitido es 10MB.";
                        mostrarErrorArchivo = true;
                        return;
                    }
                    Pdf nuevoPdf = new Pdf
                    {
                        NombreArchivo = file.Name
                    };


                    using var memoryStream = new MemoryStream();
                    await file.OpenReadStream(maxAllowedSize: MAX_FILE_SIZE).CopyToAsync(memoryStream);

                    nuevoPdf.Archivo = memoryStream.ToArray();

                    pdfBytes.Add(nuevoPdf);

                    mensajeErrorArchivo = "";
                    mostrarErrorArchivo = false;

                    Log.Information($"Archivo {file.Name} subido con éxito. Tamaño: {file.Size} bytes.");
                }
            }
        }
        catch (Exception ex)
        {
            Log.Error($"Error al subir el archivo: {ex.Message}");
            mensajeErrorArchivo = "Error al subir el archivo.";
            mostrarErrorArchivo = true;
        }
    }

    void EliminarArchivo(Pdf archivo)
    {
        pdfBytes.Remove(archivo);
    }
    
    async Task MostrarFechasDisponibles()
    {
        if(nuevoTurno.Medico!="")
        {
            var result = await DialogService.OpenAsync("Elegir una fecha", ds =>
            @<RadzenCard Style="padding: 20px; border-radius: 10px; background-color: #f9f9f9; max-width: 400px;">
                <RadzenStack Gap="1rem" Orientation="Orientation.Vertical">
                    <RadzenLabel Text="📅 Fechas disponibles" Style="font-weight: bold; font-size: 18px; color: #333;" />

                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                        <RadzenLabel Text="Seleccionar fecha:" Style="font-size: 16px;" />
                        <RadzenDatePicker @bind-Value=@nuevoTurno.FechaTurno
                                  DateRender=@((args) => nuevoTurno.DesactivarFechas(args, esAdmin))
                                          DateFormat="d/M/yyyy"
                                          Name="FechasPosibles"
                                          Style="width: 100%; max-width: 200px;" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" Style="border-radius: 8px;" />
                        <RadzenButton Text="✅ Confirmar" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Primary" Style="border-radius: 8px;" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
            );            
        }
        else
        {
            var result = await DialogService.OpenAsync("Primero debes elegir un medico.", ds =>
            @<RadzenStack Gap="1.5rem">
                <p><b>Elige un médico antes de seleccionar una fecha.</b></p>
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
    );
        }


    }

    async Task MostrarHorariosDisponibles()
    {

        if (nuevoTurno.FechaTurno != null)            
        {
            var result = await DialogService.OpenAsync("Elegir horario", ds =>
            @<RadzenCard Style="padding: 20px; border-radius: 10px; background-color: #f9f9f9; max-width: 400px;">
                <RadzenStack Gap="1rem" Orientation="Orientation.Vertical">
                    <RadzenLabel Text="⏰ Horarios disponibles" Style="font-weight: bold; font-size: 18px; color: #333;" />

                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                        <RadzenLabel Text="Seleccionar horario:" Style="font-size: 16px;" />
                        <RadzenDropDown @bind-Value=@nuevoTurno.HoraTurno
                                        Data=@nuevoTurno.ObtenerHorariosDisponibles(esAdmin)
                                        Style="width: 100%; max-width: 200px;"
                                        Name="DropDownBindValue"
                                        Placeholder="Seleccione un horario" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" Style="border-radius: 8px;" />
                        <RadzenButton Text="✅ Reservar" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Primary" Style="border-radius: 8px;" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
            );
        }
        else
        {
            var result = await DialogService.OpenAsync("Primero debes elegir una fecha", ds =>
            @<RadzenStack Gap="1.5rem">
                <p><b>Elige una fecha antes.</b></p>
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Cerrar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
    );
        }
    }

    async Task MostrarResumen()
    {
        if (
            nuevoTurno.NombrePaciente != "" &&
            nuevoTurno.ApellidoPaciente != "" &&
            nuevoTurno.Telefono != "" &&
            nuevoTurno.Medico != "" &&
            nuevoTurno.Cobertura != null &&
            nuevoTurno.FechaTurno != DateTime.MinValue &&
            nuevoTurno.HoraTurno != "" &&
            mostrarErrorArchivo == false &&
            telefonoFormatoValido
        )
        {
            var result = await DialogService.OpenAsync("📋 Resumen de reserva", ds =>
            @<RadzenStack Gap="1rem" Padding="1.5rem" Style="font-size: 1.2rem; color: #222;">

                <RadzenStack Gap="1rem">
                    <p><b>🧑 Paciente:</b> <span>@nuevoTurno.NombrePaciente @nuevoTurno.ApellidoPaciente</span></p>
                    <p><b>🆔 DNI:</b> <span>@nuevoTurno.Dni</span></p>
                    <p><b>📞 Teléfono:</b> <span>@nuevoTurno.Telefono</span></p>
                    <p><b>👨‍⚕️ Médico:</b> <span>@nuevoTurno.Medico</span></p>
                    <p><b>🏥 Cobertura:</b> <span>@nuevoTurno.Cobertura</span></p>
                    <p><b>🔢 Nº Afiliado:</b> <span>@nuevoTurno.NumeroAfiliado</span></p>
                <p><b>📅 Fecha:</b> <span>@nuevoTurno.FechaTurno?.ToString("dd-MM-yyyy")</span></p>
                    <p><b>🕒 Hora:</b> <span>@nuevoTurno.HoraTurno</span></p>
                    <p><b>📝 Notas:</b> <span>@nuevoTurno.Notas</span></p>
                </RadzenStack>

                <!-- Botones -->
                <RadzenStack Orientation="Orientation.Horizontal" Gap="1.2rem" JustifyContent="JustifyContent.Center" Style="margin-top: 1.2rem;">
                    <RadzenButton Text="✅ Confirmar" ButtonStyle="ButtonStyle.Primary" Click=@MostrarConfirmacion Style="font-size: 1.2rem; padding: 0.75rem 1.5rem;" />
                    <RadzenButton Text="Cancelar" Icon="cancel"  ButtonStyle="ButtonStyle.Danger" Click="() => ds.Close(true)" Style="font-size: 1.2rem; padding: 0.75rem 1.5rem;" />
                </RadzenStack>
            </RadzenStack>
          );
        }
        else
        {
            var err = await DialogService.OpenAsync("Ha habido un error", ds =>
            @<RadzenStack Gap="1.5rem">
                <p><b>Verifica que todos los campos estén completos.</b></p>
                <p>Intentalo nuevamente.</p>
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.End" JustifyContent="JustifyContent.Center">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Cerrar" Click="() => ds.Close(true)" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
    );
        }

    }


    async Task MostrarConfirmacion()
    {        
        string fechaMostrar = nuevoTurno.FechaTurno?.ToString("yyyy-MM-dd") ?? "";

        if (!esAdmin) { nuevoTurno.Email = userEmail; }

        //Inserto el nuevo turno.
        int intentoRegistrarTurno = Base.InsertarTurno(nuevoTurno);

        //Inserto los PDFS
        if(pdfBytes.Count > 0 )  {  Pdf.InsertarPDFS(pdfBytes, nuevoTurno);  }

        //Envio el email de confirmacion
        if(!string.IsNullOrEmpty(nuevoTurno.Email))
        {
            try
            {
                EmailService nuevoEmail = new EmailService();
                string cuerpoEmail = "Su turno ha sido confirmado con éxito.<br><br><b>Paciente:</b> " + nuevoTurno.NombrePaciente + " " + nuevoTurno.ApellidoPaciente + "<br> <b>Fecha:</b> " + nuevoTurno.FechaTurno?.ToString("dd/MM/yyyy") + "<br> <b>Hora:</b> " + nuevoTurno.HoraTurno + "<br><b>Médico:</b> " + nuevoTurno.Medico + "<br><br><br> Si desea cancelarlo, puede hacerlo a través de nuestro portal o comunicandose telefonicamente. <br> Muchas gracias. <br><br> Consultorio médico.";            
                await nuevoEmail.EnviarCorreoAsync(nuevoTurno.Email, "Confirmación de turno", cuerpoEmail);
                Log.Information("Email de confirmacion enviado correctamente a: "+nuevoTurno.Email);
            }
            catch(Exception ex)
            {
                Log.Error(ex, "Ocurrio un error al enviar el email de confirmacion en reservar turnos.");

            }
           
        }  
        
        if (!string.IsNullOrEmpty(nuevoTurno.Telefono))
        {
            try
            {
                var whatsappService = new WhatsAppService();

                var contentSid = "HXb651baccb481cd2886f1ce294b9e4743"; // <- SID real de confirmacion_turno

                var variables = new Dictionary<string, string>
                {
                { "1", nuevoTurno.NombrePaciente },
                { "2", nuevoTurno.ApellidoPaciente },
                { "3", nuevoTurno.FechaTurno?.ToString("dd/MM/yyyy") ?? "" },
                { "4", nuevoTurno.HoraTurno },
                { "5", nuevoTurno.Medico }
                };

                whatsappService.EnviarMensajePlantilla(nuevoTurno.Telefono, contentSid, variables);

            }
            catch (Exception ex)
            {
                Log.Error(ex, "Error al enviar el WhatsApp para: " + nuevoTurno.Telefono);
            }
        }

        if (intentoRegistrarTurno == 0)
        {
            var result = await DialogService.OpenAsync("Confirmación de reserva", ds =>
            @<RadzenStack Gap="1.5rem" Style="text-align: center; padding: 1rem;">
                <!-- Icono de confirmación -->
                <RadzenIcon Icon="check_circle" Size="50px" Style="color: green;" />

                <p style="font-size: 1.2rem; font-weight: bold;">✅ ¡Tu turno ha sido confirmado!</p>
                <p style="font-size: 1.2rem; font-weight: bold;">
                    📧 Se ha enviado un email a tu correo.<br />
                    📱 También recibirás un mensaje de WhatsApp con la confirmación.
                </p>

                <p style="margin-bottom: 0.5rem;">Aquí están los datos de la reserva:</p>

                <RadzenStack Gap="0.5rem" Style="border-radius: 8px; background: #f9f9f9; padding: 1rem; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
                    <p><b>🧑 Paciente:</b> @nuevoTurno.NombrePaciente @nuevoTurno.ApellidoPaciente</p>
                    <p><b>👨‍⚕️ Médico:</b> @nuevoTurno.Medico</p>
                    <p><b>📅 Fecha:</b> @fechaMostrar</p>
                    <p><b>🕒 Hora:</b> @nuevoTurno.HoraTurno</p>
                </RadzenStack>

                <!-- Botón de cerrar -->
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" JustifyContent="JustifyContent.Center">
                    <RadzenButton Text="Cerrar" Icon="close" ButtonStyle="ButtonStyle.Primary" Click=@RedirectToHome />
                </RadzenStack>
            </RadzenStack>);

        }
        else
        {
            var resultadoNegativo = await DialogService.OpenAsync("Ha habido un error", ds =>
            @<RadzenStack Gap="1.5rem">
                <p><b>Tu turno no ha sido confirmado.</b></p>
                <p>Intentalo nuevamente.</p>
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.End" JustifyContent="JustifyContent.Center">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton Text="Cerrar" Click="() => ds.Close(true)" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
        );
        }
        
    }



     void Submit(Turno arg) {}

    
    void RedirectToHome()
    {
        Navigation.NavigateTo("/");
    }

    void Cancelar()
    {
        Navigation.NavigateTo("/");
    }
}